.status-bar{
    display: flex;  /*자식 요소들이 플렉스 아이템으로 배치*/
    justify-content: center;    /*자식 요소들을 수평 중앙 정렬*/ 
    padding: 5px 3px;
}
.status-bar__column{
    width: 33%; /*.status-bar 내부의 3개의 자식 요소를 1/3씩 차지하도록 (html에 자식 3개있음)*/
}
.status-bar__column:first-child span{
    margin-right: 5px;  /*첫 번째 column의 span tag에만 오른쪽에 5px 간격 추가*/
}
.status-bar__column:nth-child(2){
    display: flex;
    justify-content: center;    /*두 번째 column에 flex layout 적용 후 수평 중앙 정렬*/
}
.status-bar__column:last-child{
    display: flex;
    justify-content: flex-end;  /*자식 요소들을 오른쪽 정렬*/
    align-items: center;    /*자식 요소들을 수직 중앙 정렬*/
}
.status-bar__column .fa-battery-full{
    margin: 0px 5px;    /*status-bar__column 안의 fa-battery-full에만 적용/위아래 여백 0px/좌우 여백 5px*/
}