.user-component{
    justify-content: space-between;
}

.user-component,
.user-component__column:first-child{
    display: flex; /* flex-direction을 통해 클래스 내부 요소들의 배치 방향 결정 가능 (가로가 기본값임) */
    align-items: center;
}

/* div 안의 child 끼리는 가로로 배치 */
/* div 안에 img 와 div(이름, 상메)를 두면 가로로 배치됨 */
/* 이름, 상메가 들어간 div 안에서 h태그 끼리는 수직으로 배치됨 */

.user-component__avatar{    /*프사*/
    width: 70px;
    height: 70px;
    border-radius: 30px;
    margin-right: 20px;
}
.user-component__title{     /*프로필 이름*/
    font-weight: 600;
    font-size: 22px;
}
.user-component__subtitle{      /*상태 메세지*/
    margin-top: 8px;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.5);
}
.user-component__avatar--xl{
    width: 80px;
    height: 80px;
}
.user-component__avatar--sm{
    width: 60px;
    height: 60px;
    border-radius: 25px;
}
.user-component__title--not-bold{
    font-weight: 400;
}
.user-component__column:last-child{
    color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.user-component__time{
    margin-bottom: 10px;
    display: block;
}